body {
  font-family:  'Bitter', serif;
  background-color:  #fff59d;
}

h1 {
  font-family: 'Passion One', cursive;
}

h1.result {
  text-align: center;
}

#caribbeancruise {
  display: none;
}

#eurotour {
  display: none;
}
#lightadventure {
  display: none;
}
#hardcore {
  display: none;
}

.jumbotron {
   background-color: #4dd0e1;
   text-align: center;
}

.cruise {
  color:  #e91e63;

}

.costarica {
  color:  #03a9f4;
}

.eurotour {
  color:  #ff5722;
}

.hardcore {
  color:  #4caf50;
}
